body {
    background-color:  #101825;
}



#leftbar {
    height: 100%; 
    width: 300px; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #13131D; 
    padding-top: 60px; 
    transition: 0.5s; 
    float: left;
    
   
}

h1 {
    color: white;
    margin-left: 18px;
    font-size: 25px;
    font-family: 'Rubik Gemstones', cursive;
}

h2 {
    color: white;
    margin-left: 18px;
    font-size: 18px;
    margin-top: 70px;
   
}

h3 {
    color: white;
    margin-left: 18px;
    margin-top: 70px;
    font-size: 15px;
    cursor: pointer;
}

h2 {
    color: white;
    margin-top: 45px;
    border-bottom: 1;
    display:block;
    width: 3em;
    max-width:70%;
    border-bottom: 0.1em solid white;
    margin: 2em auto 0;
    margin-left: 100px;
}

#search {
    margin: auto;
    margin-top: 2%;
    position: relative;
    width: 600px;
    height: 42px;
    border: 4px solid #191F2B;
    padding: 0px 5px;
    background-color: #191F2B;
    border-radius: 10px;
    margin-left: 390px;
    color: white;
    

}

#container {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.Search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-weight: 500;
    background-color: #191F2B;
    color: white;
}

.Search::placeholder {
    color: white;
}



.Search:focus {
    outline: none;
}


body {
    background-color:  #101825;
}

#login {
    width: 350px;
    margin: auto;
    margin: 10 0 0 450px;
    overflow: hidden;
    padding: 75px;
    margin-top: 100px;
    display: none;
    margin-left: 450px;
   
    
}


#login form {
    margin-left: 450px;
    
}

#login #name1 {
     margin-left: 45px;
     
}


#login #pass{
     margin-left: 93px;
     

}

#login #email1 {
    margin-left: 60px;
    
}



h4 {
    text-align: center;
    padding: 10px;
    color: white;

}

label {
    color: white;
    padding-left: 10px;
}

.inputText{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 2px;
    padding-left: 8px;

}

#logButton {
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding-left: 7px;
    color:black;
    font-size: 16px;
    margin-left: 168px;

}

#main {
    display: flex;
    flex-wrap: wrap;
    margin-left: 300px;
    overflow: hidden;
    height: 100%;
    position: relative;

   

}
.movie {
    width: 300px;
    margin: 1rem;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img {
    width: 100%;
}

*{
    box-sizing: border-box;
    
}

.movie-info {
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 1px;

}
.movie-info span{
    background-color: var(--secondary-color);
    display: flex;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}

.movie-info span.orange{
    color: orange;
}

.movie-info span.red{
    color: red;
}

.overview{
    background-color: black;
    color: white;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    text-align: center;
  
}


h7 {
   font-weight: bold;    
}

#terms_conditions {
    display: none;
    margin-left: 350px;
   ;
    

}

   #contactus {
    margin-left: 450px;
    margin-top: 80px;
    
   }

h8{
    color: white;
    font-size: 40px;
    text-align: center;
}

h9{ 
    color: white;
    font-size: 20px;
    margin-top: 170px;
    
   
}

#conus{
    margin-left: 450px;
}

#cous{
   
    margin-left: 630px;
    
}

#name {
    width: 50%;
    margin-left: 80px;
    outline: none;
   
}

#email {
    width: 50%;
    margin-left: 80px;
    margin-top: 50px;
    outline: none;
}

#msg {
    width: 50%;
    height: 80px;
    margin-left: 80px;
    margin-top: 50px;
    outline: none;
    
   
}

#submitbtn {
    width: 10%;
    height: 40px;
    background-color: #7777B5;
    margin-left: 250px;
    margin-top: 50px;
    border: none;
}

#cntpg {
    display: none;
    overflow: hidden;
}

#watchpg {
    display: none;
    overflow: hidden;
}

#home {
    overflow: hidden;
}

.change-color { color: #ff0000; }

#watchpg {
   
    margin-left: 300px;
    display: none;
    color: white;
    overflow: hidden;
    position: relative;
    height: 100%;
}

.img2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 350px;
    overflow: hidden;
    height: 100%;
    position: relative;
  }
  
  .img2 img {
    width: 20%;
    margin-top: 20px;
   
  }
  
  .img2 h10 {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 10px 0;
    color: white;
  }
  
  .img2 p {
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: justify;
  }

  .movieinfo{
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 1px;
    margin-top: -60px;
    width: 300px;
    margin: 1rem;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 3px;
}

 

  #terms-and-conditions {
    margin: 20px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    float: left;
  }
  
  #terms-and-conditions h2 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
  }
  
  #terms-and-conditions p {
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.5;
  }
  
  #terms-and-conditions ul {
    list-style-type: square;
    margin: 10px 0;
    font-size: 14px;
    line-height: 1.5;
  }

  #logout {
    margin-top: -55px;
    margin-left: 1150px;
    cursor: pointer;
  }

  h11 {
    color: fff;
    margin-left: 1450px;
  }

  .heart-icon {
    cursor: pointer;
  }