body {
    background-color:  #101825;

}

#leftbar {
    height: 100%; 
    width: 300px; 
    position: fixed; 
    z-index: 1;
    top: 0; 
    left: 0;
    background-color: #13131D; 
    padding-top: 60px; 
    transition: 0.5s; 
    float: left;
   
}

h1 {
    color: white;
    margin-left: 18px;
    font-size: 30px;
}

h2 {
    color: white;
    margin-left: 18px;
    font-size: 20px;
    margin-top: 70px;
}

h3 {
    color: white;
    margin-left: 18px;
    margin-top: 70px;
    font-size: 18px;
}

h2 {
    color: white;
    margin-top: 45px;
    border-bottom: 1;
    display:block;
    width: 3em;
    max-width:70%;
    border-bottom: 0.1em solid white;
    margin: 2em auto 0;
    margin-left: 100px;
}

#searchbar {
    margin: auto;
    margin-top: -36%;
    position: relative;
    width: 600px;
    height: 42px;
    border: 4px solid #191F2B;
    padding: 0px 5px;
    background-color: #191F2B;
    border-radius: 10px;
    

}

#container {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.Search {
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 5px;
    border-radius: 50px;
    font-weight: 500;
    background-color: #191F2B;
    
}

.Search:focus {
    outline: none;
}
*/

body {
    background-color:  #101825;
}

#login {
    width: 350px;
    margin: auto;
    margin: 10 0 0 450px;
    overflow: hidden;
    padding: 75px;
    background: black;
    margin-top: 100px;

}

h4 {
    text-align: center;
    padding: 10px;
    color: white;

}

label {
    color: white;
    padding-left: 10px;
}

.inputText{
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 2px;
    padding-left: 8px;

}

#logButton {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 10px;
    padding-left: 7px;
    color:black;
    font-size: 16px;

}
